{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Bilingual Reading Intervention Targeting</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1 class="display-4">Bilingual Reading Intervention Targeting</h1>
        </div>
        <div class="card-body">
          <p class="lead">
            This website is designed to help educators target reading
            interventions for bilingual learners.
          </p>
          <hr class="my-4" />
          <p>
            To use the site, select the best description of each skill below.
            Recommendations for assessment tools to measure each skill are in
            each skill box below as well. Note that language proficiency means
            oral language proficiency and/or vocabulary, depending on assessment
            scores available. After you click submit, a recommendation of the
            reading intervention priorities for the learner is provided. To use
            the site for another recommendation, simply click ‘clear’ and select
            other skill descriptions.
          </p>
        </div>
      </div>
      <div class="container">
        <form
          method="post"
          id="myForm">
          <div class="d-flex">
            <div
              class="p-2 d-flex flex-column"
              style="min-width: 500px">
              <div class="p-2 d-flex justify-content-around">
                <button
                  type="button"
                  id="clearButton">
                  Clear
                </button>
                <button
                  type="submit"
                  id="submitButton"
                  disabled>
                  Submit
                </button>
              </div>

              <div
                class="p-2"
                id="language_proficiency_panel">
                <div class="card">
                  <div class="card-header">
                    <h5>Language Proficiency</h5>
                  </div>
                  <div class="card-body">
                    <div>academic vocabulary measure or state assessment</div>
                    <label for="language_proficiency_L1">L1:</label>
                    <select id="language_proficiency_L1">
                      <option value="default">Select L1</option>
                      <option value="advanced">advanced</option>
                      <option value="intermediate">intermediate</option>
                      <option value="beginner">beginner</option>
                    </select>

                    <label for="language_proficiency_L2">L2:</label>
                    <select id="language_proficiency_L2">
                      <option value="default">Select L2</option>
                      <option value="advanced">advanced</option>
                      <option value="intermediate">intermediate</option>
                      <option value="beginner">beginner</option>
                    </select>
                  </div>
                </div>
              </div>
              <div
                class="p-2 d-none"
                id="reading_connected_text_panel">
                <div class="card">
                  <div class="card-header">
                    <h5>Reading Connected Text</h5>
                  </div>
                  <div class="card-body">
                    <div>grade-level connected text fluency</div>
                    <label for="reading_connected_text_L1">L1:</label>
                    <select id="reading_connected_text_L1">
                      <option value="default">Select L1</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>

                    <label for="reading_connected_text_L2">L2:</label>
                    <select id="reading_connected_text_L2">
                      <option value="default">Select L2</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="p-2 d-none"
                id="reading_words_panel">
                <div class="card">
                  <div class="card-header">
                    <h5>Reading Words</h5>
                  </div>
                  <div class="card-body">
                    <div>grade-level word lists</div>
                    <label for="reading_words_L1">L1:</label>
                    <select id="reading_words_L1">
                      <option value="default">Select L1</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>

                    <label for="reading_words_L2">L2:</label>
                    <select id="reading_words_L2">
                      <option value="default">Select L2</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="p-2 d-none"
                id="decoding_panel">
                <div class="card">
                  <div class="card-header">
                    <h5>Decoding</h5>
                  </div>
                  <div class="card-body">
                    <div>nonsense word / syllable / letter-sound fluency</div>
                    <label for="decoding_L1">L1:</label>
                    <select id="decoding_L1">
                      <option value="default">Select L1</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>

                    <label for="decoding_L2">L2:</label>
                    <select id="decoding_L2">
                      <option value="default">Select L2</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="p-2"
                id="phonemic_awareness_panel">
                <div class="card">
                  <div class="card-header">
                    <h5>Phonemic Awareness</h5>
                  </div>
                  <div class="card-body">
                    <div>segmenting / blending fluency</div>
                    <label for="phonemic_awareness_L1">L1:</label>
                    <select id="phonemic_awareness_L1">
                      <option value="default">Select L1</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>

                    <label for="phonemic_awareness_L2">L2:</label>
                    <select id="phonemic_awareness_L2">
                      <option value="default">Select L2</option>
                      <option value="fluent_accurate">fluent & accurate</option>
                      <option value="accurate">accurate</option>
                      <option value="not_accurate">not accurate</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2 flex-grow-1 flex-column">
              <div class="p-2 flex-column justify-content-around">
                <h3>Reading Intervention Recommendation</h3>
                <div id="result"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card">
        <div class="card-header"><h5>A Few Questions and Answers</h5></div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2">
            Where did these recommendations come from?
          </h6>
          <div class="card-text d-flex">
            The skill descriptions are based on the Instructional Hierarchy, a
            framework for describing student skills, and commonly used language
            proficiency designations (Beginning, Intermediate, and Advanced can
            map roughly onto WIDA language proficiency levels). The
            recommendations are based on research about biliteracy, reading
            theory, reading interventions for bilingual learners, as well as
            best practices in intervention with English language learners. We
            will link some accessible research that isn’t behind paywalls below.
            Our recommendations are iterative; as we learn more from research
            and implementation we will update them. The site will be dated so
            you will always know how recently the recommendations have been
            updated.
          </div>
          <hr />
          <h6 class="card-subtitle mb-2">
            Why is there a reading intervention recommendation and a phonemic
            awareness recommendation? Isn’t phonemic awareness a reading skill?
          </h6>
          <div class="card-text d-flex">
            We have noticed that some students, particularly students who might
            be at risk for specific learning disabilities in reading,
            demonstrate phonemic awareness weaknesses even after making progress
            in skills like decoding and reading connected text. Therefore, we
            suggest screening phonemic awareness if there are reading concerns,
            particularly for bilingual learners for whom intervention targeting
            is that much more complex.
          </div>
          <hr />
          <div class="card-text d-flex">Last update: 2023-07-23</div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <!-- I am adding this incase I want my Bootstrap components to use JavaScript functionality -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
