<!DOCTYPE html>
<html>
  <head>
    <title>Bilingual Reading Intervention Targeting</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Bilingual Reading Intervention Targeting</h1>
        <p class="lead">
          This website is designed to help educators target reading
          interventions for bilingual learners.
        </p>
        <hr class="my-4" />
        <p>
          To use the site, select the best description of each skill below.
          Recommendations for assessment tools to measure each skill are in each
          skill box below as well. Note that language proficiency means oral
          language proficiency and/or vocabulary, depending on assessment scores
          available. After you click submit, a recommendation of the reading
          intervention priorities for the learner is provided. To use the site
          for another recommendation, simply click ‘clear’ and select other
          skill descriptions.
        </p>
      </div>
    </div>

    <!-- I am adding this incase I want my Bootstrap components to use JavaScript functionality -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
